<h1>{{{main_label}}}</h1>
<span class="instance-name">{{instance}}</span>
<span class="creation-desc">{{{desc_message}}}</span>
<div id="process-steps">
    <ul>
        {{#steps}}
            <li><span class="step-label {{status}}">{{label}}</span></li>
        {{/steps}}
    </ul>
</div>

