<head>
    {{#refresh_interval}}<meta http-equiv="refresh" content="{{refresh_interval}}">{{/refresh_interval}}
    <title>{{{title}}}</title>
    <link rel="stylesheet" type="text/css" href="{{style}}">
</head>
<body>
    <div class="main">
        {{{content}}}
    </div>
</body>
