<div id="bs-access-management-skeleton">
	<div class="skeleton-tabs">
		<div class="skeleton" style="width: 130px;"></div>
		<div class="skeleton" style="width: 60px;"></div>
	</div>

	<div class="skeleton-toolbar">
		<div class="skeleton skeleton-button"></div>
	</div>

	<div class="skeleton skeleton-heading"></div>

	<div class="skeleton-cards">
		<div class="skeleton-card">
			<div class="skeleton-card-header">
				<div class="skeleton skeleton-card-icon"></div>
				<div class="skeleton skeleton-card-title"></div>
			</div>
			<div class="skeleton skeleton-card-desc"></div>
			<div class="skeleton skeleton-card-desc-short"></div>
		</div>
		<div class="skeleton-card">
			<div class="skeleton-card-header">
				<div class="skeleton skeleton-card-icon"></div>
				<div class="skeleton skeleton-card-title"></div>
			</div>
			<div class="skeleton skeleton-card-desc"></div>
			<div class="skeleton skeleton-card-desc-short"></div>
		</div>
		<div class="skeleton-card">
			<div class="skeleton-card-header">
				<div class="skeleton skeleton-card-icon"></div>
				<div class="skeleton skeleton-card-title"></div>
			</div>
			<div class="skeleton skeleton-card-desc"></div>
			<div class="skeleton skeleton-card-desc-short"></div>
		</div>
	</div>
</div>
