.oojsplus-widget-batch-option-widget .oo-ui-labelElement-label.bi-bs-home::before {
	margin-right: 6px;
	vertical-align: -0.125em;
}

.bs-extendedsearch-autocomplete-popup-item-header-path-source {
	color: #fff;
	padding: 0 5px;
	border-radius: 5px;
	margin-right: 5px;
}

.wikifarm-tab-badge {
	margin-left: 0.5rem;
	padding: 4px 8px;
	border-radius: 4px;
	background-color: #dadde3;
}

.oo-ui-optionWidget-selected .wikifarm-tab-badge {
	background-color: #f1f3f9;
}

/* Foreign wiki badge, rendered by the 'bs.extendedSearch.result.init' hook in bootstrap.js. */
.bs-extendedsearch-result-wiki-label .farm-wiki-badge {
	display: inline-block;
	vertical-align: middle;
}

.wikifarm-wiki-badge {
	margin-bottom: 8px;
}

.wikifarm-wiki-badge__text {
	font-weight: bold;
	vertical-align: middle;
	font-size: 0.875rem;
}

.wikifarm-wiki-badge__icon {
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 8px;
	-webkit-mask: url( data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iY3VycmVudENvbG9yIiB2aWV3Qm94PSIwIDAgMTYgMTYiPjxwYXRoIGQ9Ik04LjIzNSAxLjU1OWEuNS41IDAgMCAwLS40NyAwbC03LjUgNGEuNS41IDAgMCAwIDAgLjg4MkwzLjE4OCA4IC4yNjQgOS41NTlhLjUuNSAwIDAgMCAwIC44ODJsNy41IDRhLjUuNSAwIDAgMCAuNDcgMGw3LjUtNGEuNS41IDAgMCAwIDAtLjg4MkwxMi44MTMgOGwyLjkyMi0xLjU1OWEuNS41IDAgMCAwIDAtLjg4MnpNOCA5LjQzMyAxLjU2MiA2IDggMi41NjcgMTQuNDM4IDZ6Ii8+PC9zdmc+ ) no-repeat center;
	mask: url( data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iY3VycmVudENvbG9yIiB2aWV3Qm94PSIwIDAgMTYgMTYiPjxwYXRoIGQ9Ik04LjIzNSAxLjU1OWEuNS41IDAgMCAwLS40NyAwbC03LjUgNGEuNS41IDAgMCAwIDAgLjg4MkwzLjE4OCA4IC4yNjQgOS41NTlhLjUuNSAwIDAgMCAwIC44ODJsNy41IDRhLjUuNSAwIDAgMCAuNDcgMGw3LjUtNGEuNS41IDAgMCAwIDAtLjg4MkwxMi44MTMgOGwyLjkyMi0xLjU1OWEuNS41IDAgMCAwIDAtLjg4MnpNOCA5LjQzMyAxLjU2MiA2IDggMi41NjcgMTQuNDM4IDZ6Ii8+PC9zdmc+ ) no-repeat center;
	-webkit-mask-size: contain;
	mask-size: contain;
}

.notification-preview-item-has-wiki-badge .wikifarm-wiki-badge {
	position: absolute;
	top: 0;
	left: 8px;
}

.notification-preview-item-has-wiki-badge .notification-message,
.notification-preview-item-has-wiki-badge .notification-unread-circle-wrapper {
	margin-top: 8px;
}

.chatbot-source-wiki-badge {
	margin: 0 4px 0 0;
	display: inline;
	vertical-align: top;
	font-size: 0.8em;
}
