.instance-color-indicator {
	width: 5px;
	height: 16px;
	margin-right: 4px;
	display: inline-block;
	border-radius: 2px;
}

#bs-wikifarm-wikis .oo-ui-tabPanelLayout,
.wikifarm-wikis-index-layout {
	padding: 20px 0;
}

.bs-wikis-list td[ data-column='favourite' ] {
	display: flex;
	justify-content: center;
	margin-right: 0 !important;
}
