.oojsplus-widget-batch-option-widget .oo-ui-labelElement-label.bi-bs-home::before {
	margin-right: 6px;
	vertical-align: -0.125em;
}

.bs-extendedsearch-autocomplete-popup-item-header-path-source {
	color: #fff;
	padding: 0 5px;
	border-radius: 5px;
	margin-right: 5px;
}

.wikifarm-tab-badge {
	margin-left: 0.5rem;
	padding: 4px 8px;
	border-radius: 4px;
	background-color: #dadde3;
}

.oo-ui-optionWidget-selected .wikifarm-tab-badge {
	background-color: #f1f3f9;
}
